@using Blazorise.Localization

<Bar Breakpoint="Breakpoint.Desktop" Background="Background.Primary" ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        <BarItem>
            <BarLink To="">
                <img src="/brand-logo.png" style="width:32px; height: 32px" />
                AStar Web UI
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <BarIcon IconName="IconName.Image"  />
                        <span aria-hidden="true" style="color: green;"> Images</span>
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="/simple-form"><span class="oi oi-person" aria-hidden="true" style="color: green;"> Images</span></BarDropdownItem>
                        <BarDropdownDivider />
                        <BarDropdownItem To="/simple-datagrid"><span class="oi oi-people" aria-hidden="true" style="color: green;"> Duplicates</span></BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem >
                <BarLink To="/">
                    <span class="oi oi-random" aria-hidden="true" style="color: blue;"> Random Images</span>
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/">
                    <span class="oi oi-globe" aria-hidden="true" style="color: orange;"> Scrape</span>
                </BarLink>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <span class="oi oi-folder" aria-hidden="true" style="color: purple;"> Rename</span>
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="/apps/todo">
                            <span class="oi oi-folder" aria-hidden="true" style="color: purple;"> Directory Rename</span>
                        </BarDropdownItem>
                    <BarDropdownDivider />
                        <BarDropdownItem To="/apps/todo">
                            <span class="oi oi-file" aria-hidden="true" style="color: purple;"> File Rename</span>
                        </BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <BarIcon IconName="IconName.Smartphone" />
                        Admin
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="/apps/todo">
                            Tag Admin
                        </BarDropdownItem>
                    <BarDropdownDivider />
                        <BarDropdownItem To="/apps/todo">
                            Tag Admin 2
                        </BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem>
                <Button Clicked="@(()=>OnThemeColorChanged())" Color="Color.Success">Change theme</Button>
                <Button Clicked="@(()=>SwapLightAndDarkThemes())"><span class="oi oi-sun" aria-hidden="true" style="color: purple;" /> / <span class="oi oi-moon" aria-hidden="true" style="color: purple;" /></Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>
