@using Blazorise.Localization
@using Blazorise

<Bar Breakpoint="Breakpoint.Desktop" Background="Background.Primary" ThemeContrast="ThemeContrast.Light">
    <BarBrand>
        <BarItem>
            <BarLink To="">
                <img src="/brand-logo.png" style="width:32px; height: 32px" />
                AStar Web UI
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <span class="oi oi-image" aria-hidden="true" style="color: green;"> Files</span>
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="/search"><span class="oi oi-person" aria-hidden="true" style="color: green;"> Images</span></BarDropdownItem>
                        <BarDropdownDivider />
                        <BarDropdownItem To="/search-duplicates"><span class="oi oi-people" aria-hidden="true" style="color: green;"> Duplicate Images</span></BarDropdownItem>
                        <BarDropdownDivider />
                        <BarDropdownItem To="/move-images"><span class="oi oi-image" aria-hidden="true" style="color: green;"> Move Images</span></BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem >
                <BarLink To="/">
                    <span class="oi oi-random" aria-hidden="true" style="color: blue;"> Random Images</span>
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/">
                    <span class="oi oi-globe" aria-hidden="true" style="color: orange;"> Scrape</span>
                </BarLink>
            </BarItem>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        <span class="oi oi-folder" aria-hidden="true" style="color: purple;"> Rename</span>
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="/apps/todo">
                            <span class="oi oi-folder" aria-hidden="true" style="color: purple;"> Directory Rename</span>
                        </BarDropdownItem>
                    <BarDropdownDivider />
                        <BarDropdownItem To="/apps/todo">
                            <span class="oi oi-file" aria-hidden="true" style="color: purple;"> File Rename</span>
                        </BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem Background="Background.Primary">
                <BarDropdown>
                    <BarDropdownToggle>
                        <BarIcon IconName="IconName.Smartphone" />
                        <span class="oi oi-person" aria-hidden="true" style="color: green;"> Admin</span>
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem To="/admin/files-update">
                            <span class="oi oi-person" aria-hidden="true" style="color: green;"> Update Files</span>
                        </BarDropdownItem>
                    <BarDropdownDivider />
                        <BarDropdownItem To="/simple-datagrid">
                            <span class="oi oi-person" aria-hidden="true" style="color: green;"> Tag Admin 2</span>
                        </BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            <BarItem>
                <button class="btn" @onclick="@SwapLightAndDarkThemes"><span style="color: purple;"> <span class="oi oi-sun" aria-hidden="true" /> / <span class="oi oi-moon" aria-hidden="true" /></span></button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>
