@page "/"
@using AStar.Clean.V1.BlazorUI.ApiClients
@inject FilesApiClient FilesApiClient
@inject ImagesApiClient ImagesApiClient

<PageTitle>AStar Web</PageTitle>

<h1>AStar Web</h1>

@if (Loaded)
{
    @if (FilesApiHealthStatus == "Healthy")
    {
        <br/>
        <div class="alert alert-success">Files Api Health Status: @FilesApiHealthStatus</div>
    }
    else
    {
        <br/>
        <div class="alert alert-danger">Files Api Health Status: @FilesApiHealthStatus</div>
    }

    @if (ImagesApiHealthStatus == "Healthy")
    {
        <br/>
        <div class="alert alert-success">Images Api Health Status: @ImagesApiHealthStatus</div>
    }
    else
    {
        <br/>
        <div class="alert alert-danger">Images Api Health Status: @ImagesApiHealthStatus</div>
    }
}
else
{
    <br />
    <div class="alert alert-success">Checking Api Health Statuses</div>
}