@* @using AStar.Web.ApiClients

@inject FilesApiClient FilesApiClient *@

<button type="submit" class="btn btn-danger btn-lg oi oi-delete" onclick="@DeleteImageAsync" IsEnabled="@IsEnabled">  Delete</button>
<button type="submit" class="btn btn-danger btn-lg oi oi-delete" onclick="@DeleteImageHardAsync" IsEnabled="@IsEnabled">  Delete Permanetly</button>
