@inject NavigationManager NavigationManager
<button type="submit" class="btn btn-primary btn-lg oi oi-document" @onclick="@DisplayImageDetails">  View</button>

@code {

    [Parameter]
    public string? Fullname { get; set; }

    private void DisplayImageDetails()
    {
        NavigationManager.NavigateTo($"images/details/{Fullname?.Replace(@"\", "__")}");
    }
}
